.avatar-popup-overlay {
    position: fixed;
    width: 100%;
    height: 94%;
    /*this sets the slightly see-through black*/
    /* z-index: 100; /*Make this less than the existing popup div*/
    /* font-weight: 400;  */
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatar-popup-overlay-light {
    background-color: rgba(0, 0, 0, 0.3);
}

.avatar-popup-container {
    width: 80%;
    height: 60%;
    border-radius: 5rem;
    border: 0.2rem solid #aab8c22f;
    z-index: 900;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#avatar-popup-container-light {
    background-color: rgba(111, 55, 216, 0.9);
}

.avatar-popup-close {
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 120%;
    cursor: default;
}
#avatar-popup-close-light {
    color: #e1e8ed;
}

#avatar-popup-close-dark {
    color: white;
}
