@font-face {
    font-family: "chirpregular";
    src: url("fonts/chirp_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "chirpbold";
    src: url("fonts/chirp_bold-webfont.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    border: solid 0.07rem rgba(0, 0, 0, 0.224);
    border-radius: 1rem;
    width: 34rem;
    margin-top: 3rem;
    font-family: "chirregular", sans-serif;
    background-color: white;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem;
    width: 100%;
}

.img {
    border-radius: 50%;
}

.nome-usuario-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0.5rem;
}
.nome {
    font-size: 0.88rem;
    font-weight: 700;
    margin: 0;
}

.usuario {
    font-size: 0.78rem;
    font-weight: 400;
    margin: 0;
    color: rgba(0, 0, 0, 0.377);
}

.logo-container {
    justify-self: flex-end;
    margin-left: 54%;
}
.logo {
    width: 1.4rem;
    height: 1rem;
}

.conteudo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.3rem 1rem 1rem 1rem;
}

.conteudo {
    text-align: left;
    font-size: 1.2rem;
    margin: 0;
}

.data-horario {
    color: rgba(0, 0, 0, 0.532);
    font-size: 0.85rem;
}
