@font-face {
    font-family: "chirpregular";
    src: url("fonts/chirp_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "chirpbold";
    src: url("fonts/chirp_bold-webfont.woff") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.tweet-container {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 34rem;
    margin-top: 2rem;
    font-family: "chirregular", sans-serif;
}

#tweet-container-light {
    border: solid 0.07rem rgba(0, 0, 0, 0.224);
    background-color: white;
}
#tweet-container-dark {
    border: solid 0.07rem rgba(138, 136, 136, 0.224);
    background-color: black;
    color: white;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1rem;
    width: 100%;
}

.img {
    border-radius: 50%;
}

.name-user-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0.5rem;
}
.name {
    font-size: 0.88rem;
    font-weight: 700;
    margin: 0;
}

.user {
    font-size: 0.78rem;
    font-weight: 400;
    margin: 0;
}

#user-light {
    color: rgba(0, 0, 0, 0.377);
}

#user-dark {
    color: #3c3e42;
}

.logo-container {
    justify-self: flex-end;
    margin-left: 54%;
}
.logo {
    width: 1.4rem;
    height: 1rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0.3rem 1rem 1rem 1rem;
}

.content {
    text-align: left;
    font-size: 1.2rem;
    margin: 0;
}

.date-time {
    font-size: 0.85rem;
}
#date-time-light {
    color: rgba(0, 0, 0, 0.532);
}
#date-time-dark {
    color: #3c3e42;
}
