@font-face {
    font-family: "chirpregular";
    src: url("fonts/chirp_regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    font-family: "chirregular", sans-serif;
}

#app-container-light {
    background-color: #f5f8fa;
}
#app-container-dark {
    background-color: black;
    background-image: linear-gradient(to right, #201629, black);
    background-image: linear-gradient(to right, #18131c, black);
}
